{% include "base.html.twig" %}

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Conversation</h5>
        </button>
      </div>
      
        <div class="body-modal">
            {% include "/modal/modalDiscu.html.twig" %}
        </div>
        
        <div class="row" id="sendDiv">
            <div class="col-lg-6">
                <input type="text" class="sendMsg_{{id_conversation}}" id="sendMsg">
            </div>
            <div class="col-lg-4">
            <button class="send"> envoyer </button>
            </div>
        </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary closeModal" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>

  {% block javascripts %}
    <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
{% endblock %}